In [1]:
## importing libraries
import pandas as pd

## Standardization vs Normalization

- Normalization is good to use when you know that the distribution of your data does not follow a Gaussian distribution. This can be useful in algorithms that do not assume any distribution of the data like K-Nearest Neighbors and Neural Networks.
- Standardization, on the other hand, can be helpful in cases where the data follows a Gaussian distribution. However, this does not have to be necessarily true. Also, unlike normalization, standardization does not have a bounding range. So, even if you have outliers in your data, they will not be affected by standardization.

- However, at the end of the day, the choice of using normalization or standardization will depend on your problem and the machine learning algorithm you are using. There is no hard and fast rule to tell you when to normalize or standardize your data. You can always start by fitting your model to raw, normalized and standardized data and compare the performance for best results.

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]

In [5]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [6]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [7]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

In [8]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [9]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [11]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [12]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [15]:
X_train.shape

(8000, 11)

In [16]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential ## responsible for crearting a neural network
from keras.layers import Dense ## for creating hidden layers
from keras.layers import LeakyReLU,PReLU,ELU ## activation functions
from keras.layers import Dropout ## for regularization parameter

In [17]:
## Initializing the ANN
classifier=Sequential()

In [18]:
## Adding the input layers and first hidden layer  
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11)) ## units= 6(hidden neurons),init = he_uniform (weight initialization),input_dim=11(11 independent features)

In [19]:
# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))

In [20]:
# Adding the output layeracti
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid')) ## units=1 (since binary classification we need only one neuron),activation=sigmoid(for binary classification)

In [21]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compiling the ANN 
classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy']) ## loss=(loss function)
## for binary classification we use binary_cross...
## for multiple class we use category_cross...

In [23]:
# Fitting the ANN to the Training set
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 100, epochs = 100)
## batch size= dont have to load more reocords so that ram will be free to run properly
## validation_split = to test the test data sep...

Epoch 1/100
54/54 [==============================] - 1s 11ms/step - loss: 0.7002 - accuracy: 0.5885 - val_loss: 0.6454 - val_accuracy: 0.6308
Epoch 2/100
54/54 [==============================] - 0s 4ms/step - loss: 0.6079 - accuracy: 0.6940 - val_loss: 0.5768 - val_accuracy: 0.7134
Epoch 3/100
54/54 [==============================] - 0s 4ms/step - loss: 0.5533 - accuracy: 0.7498 - val_loss: 0.5353 - val_accuracy: 0.7739
Epoch 4/100
54/54 [==============================] - 0s 4ms/step - loss: 0.5179 - accuracy: 0.7832 - val_loss: 0.5077 - val_accuracy: 0.7906
Epoch 5/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4941 - accuracy: 0.7932 - val_loss: 0.4893 - val_accuracy: 0.8008
Epoch 6/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4777 - accuracy: 0.7970 - val_loss: 0.4769 - val_accuracy: 0.8046
Epoch 7/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4655 - accuracy: 0.8026 - val_loss: 0.4674 - val_accuracy: 0.8080
Epoch 8/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4559 - accuracy: 0.8078 - val_loss: 0.4602 - val_accuracy: 0.8088
Epoch 9/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4484 - accuracy: 0.8082 - val_loss: 0.4543 - val_accuracy: 0.8095
Epoch 10/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4422 - accuracy: 0.8110 - val_loss: 0.4493 - val_accuracy: 0.8076
Epoch 11/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4368 - accuracy: 0.8127 - val_loss: 0.4454 - val_accuracy: 0.8073
Epoch 12/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4322 - accuracy: 0.8156 - val_loss: 0.4418 - val_accuracy: 0.8092
Epoch 13/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4283 - accuracy: 0.8177 - val_loss: 0.4385 - val_accuracy: 0.8114
Epoch 14/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4250 - accuracy: 0.8207 - val_loss: 0.4355 - val_accuracy: 0.8129
Epoch 15/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4221 - accuracy: 0.8224 - val_loss: 0.4329 - val_accuracy: 0.8148
Epoch 16/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4198 - accuracy: 0.8238 - val_loss: 0.4310 - val_accuracy: 0.8164
Epoch 17/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4177 - accuracy: 0.8270 - val_loss: 0.4290 - val_accuracy: 0.8190
Epoch 18/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4157 - accuracy: 0.8272 - val_loss: 0.4273 - val_accuracy: 0.8171
Epoch 19/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4141 - accuracy: 0.8285 - val_loss: 0.4258 - val_accuracy: 0.8190
Epoch 20/100
54/54 [==============================] - 0s 5ms/step - loss: 0.4125 - accuracy: 0.8296 - val_loss: 0.4243 - val_accuracy: 0.8201
Epoch 21/100
54/54 [==============================] - 0s 5ms/step - loss: 0.4111 - accuracy: 0.8291 - val_loss: 0.4227 - val_accuracy: 0.8194
Epoch 22/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4098 - accuracy: 0.8281 - val_loss: 0.4216 - val_accuracy: 0.8183
Epoch 23/100
54/54 [==============================] - 0s 7ms/step - loss: 0.4084 - accuracy: 0.8294 - val_loss: 0.4201 - val_accuracy: 0.8183
Epoch 24/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4071 - accuracy: 0.8302 - val_loss: 0.4184 - val_accuracy: 0.8194
Epoch 25/100
54/54 [==============================] - 0s 5ms/step - loss: 0.4058 - accuracy: 0.8302 - val_loss: 0.4171 - val_accuracy: 0.8201
Epoch 26/100
54/54 [==============================] - 0s 5ms/step - loss: 0.4044 - accuracy: 0.8308 - val_loss: 0.4152 - val_accuracy: 0.8205
Epoch 27/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4029 - accuracy: 0.8309 - val_loss: 0.4133 - val_accuracy: 0.8198
Epoch 28/100
54/54 [==============================] - 0s 4ms/step - loss: 0.4007 - accuracy: 0.8311 - val_loss: 0.4112 - val_accuracy: 0.8217
Epoch 29/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3973 - accuracy: 0.8341 - val_loss: 0.4081 - val_accuracy: 0.8239
Epoch 30/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3933 - accuracy: 0.8375 - val_loss: 0.4051 - val_accuracy: 0.8254
Epoch 31/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3889 - accuracy: 0.8406 - val_loss: 0.4009 - val_accuracy: 0.8307
Epoch 32/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3844 - accuracy: 0.8416 - val_loss: 0.3960 - val_accuracy: 0.8330
Epoch 33/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3793 - accuracy: 0.8447 - val_loss: 0.3918 - val_accuracy: 0.8360
Epoch 34/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3746 - accuracy: 0.8472 - val_loss: 0.3879 - val_accuracy: 0.8379
Epoch 35/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3706 - accuracy: 0.8490 - val_loss: 0.3845 - val_accuracy: 0.8398
Epoch 36/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3671 - accuracy: 0.8490 - val_loss: 0.3817 - val_accuracy: 0.8410
Epoch 37/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3639 - accuracy: 0.8509 - val_loss: 0.3792 - val_accuracy: 0.8425
Epoch 38/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3606 - accuracy: 0.8518 - val_loss: 0.3769 - val_accuracy: 0.8436
Epoch 39/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3580 - accuracy: 0.8533 - val_loss: 0.3749 - val_accuracy: 0.8436
Epoch 40/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3554 - accuracy: 0.8546 - val_loss: 0.3730 - val_accuracy: 0.8474
Epoch 41/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3533 - accuracy: 0.8548 - val_loss: 0.3716 - val_accuracy: 0.8478
Epoch 42/100
54/54 [==============================] - 0s 6ms/step - loss: 0.3515 - accuracy: 0.8543 - val_loss: 0.3699 - val_accuracy: 0.8470
Epoch 43/100
54/54 [==============================] - 0s 6ms/step - loss: 0.3496 - accuracy: 0.8559 - val_loss: 0.3688 - val_accuracy: 0.8482
Epoch 44/100
54/54 [==============================] - 0s 6ms/step - loss: 0.3479 - accuracy: 0.8558 - val_loss: 0.3676 - val_accuracy: 0.8489
Epoch 45/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3464 - accuracy: 0.8559 - val_loss: 0.3666 - val_accuracy: 0.8463
Epoch 46/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3453 - accuracy: 0.8563 - val_loss: 0.3655 - val_accuracy: 0.8466
Epoch 47/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3440 - accuracy: 0.8571 - val_loss: 0.3647 - val_accuracy: 0.8478
Epoch 48/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3430 - accuracy: 0.8571 - val_loss: 0.3641 - val_accuracy: 0.8512
Epoch 49/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3420 - accuracy: 0.8587 - val_loss: 0.3634 - val_accuracy: 0.8508
Epoch 50/100
54/54 [==============================] - 0s 5ms/step - loss: 0.3413 - accuracy: 0.8586 - val_loss: 0.3628 - val_accuracy: 0.8482
Epoch 51/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3405 - accuracy: 0.8572 - val_loss: 0.3624 - val_accuracy: 0.8501
Epoch 52/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3397 - accuracy: 0.8576 - val_loss: 0.3618 - val_accuracy: 0.8508
Epoch 53/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3392 - accuracy: 0.8578 - val_loss: 0.3613 - val_accuracy: 0.8501
Epoch 54/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3384 - accuracy: 0.8582 - val_loss: 0.3608 - val_accuracy: 0.8508
Epoch 55/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3379 - accuracy: 0.8599 - val_loss: 0.3603 - val_accuracy: 0.8512
Epoch 56/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3375 - accuracy: 0.8572 - val_loss: 0.3600 - val_accuracy: 0.8519
Epoch 57/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3369 - accuracy: 0.8593 - val_loss: 0.3596 - val_accuracy: 0.8519
Epoch 58/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3363 - accuracy: 0.8597 - val_loss: 0.3592 - val_accuracy: 0.8519

Epoch 59/100
54/54 [==============================] - 0s 5ms/step - loss: 0.3357 - accuracy: 0.8586 - val_loss: 0.3590 - val_accuracy: 0.8519
Epoch 60/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3353 - accuracy: 0.8599 - val_loss: 0.3583 - val_accuracy: 0.8542
Epoch 61/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3347 - accuracy: 0.8600 - val_loss: 0.3583 - val_accuracy: 0.8531
Epoch 62/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3342 - accuracy: 0.8608 - val_loss: 0.3582 - val_accuracy: 0.8546
Epoch 63/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3338 - accuracy: 0.8614 - val_loss: 0.3579 - val_accuracy: 0.8523
Epoch 64/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3336 - accuracy: 0.8597 - val_loss: 0.3578 - val_accuracy: 0.8535
Epoch 65/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3332 - accuracy: 0.8614 - val_loss: 0.3576 - val_accuracy: 0.8519
Epoch 66/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3328 - accuracy: 0.8615 - val_loss: 0.3573 - val_accuracy: 0.8538
Epoch 67/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3327 - accuracy: 0.8625 - val_loss: 0.3575 - val_accuracy: 0.8531
Epoch 68/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3323 - accuracy: 0.8621 - val_loss: 0.3571 - val_accuracy: 0.8538
Epoch 69/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3320 - accuracy: 0.8628 - val_loss: 0.3573 - val_accuracy: 0.8531
Epoch 70/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3319 - accuracy: 0.8630 - val_loss: 0.3573 - val_accuracy: 0.8531
Epoch 71/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3317 - accuracy: 0.8621 - val_loss: 0.3572 - val_accuracy: 0.8538
Epoch 72/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3314 - accuracy: 0.8636 - val_loss: 0.3572 - val_accuracy: 0.8535
Epoch 73/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3312 - accuracy: 0.8632 - val_loss: 0.3573 - val_accuracy: 0.8535
Epoch 74/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3310 - accuracy: 0.8628 - val_loss: 0.3572 - val_accuracy: 0.8538
Epoch 75/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3308 - accuracy: 0.8632 - val_loss: 0.3570 - val_accuracy: 0.8546
Epoch 76/100
54/54 [==============================] - 0s 5ms/step - loss: 0.3306 - accuracy: 0.8655 - val_loss: 0.3571 - val_accuracy: 0.8535
Epoch 77/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3305 - accuracy: 0.8647 - val_loss: 0.3573 - val_accuracy: 0.8538
Epoch 78/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3303 - accuracy: 0.8642 - val_loss: 0.3571 - val_accuracy: 0.8550
Epoch 79/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3304 - accuracy: 0.8645 - val_loss: 0.3572 - val_accuracy: 0.8535
Epoch 80/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3299 - accuracy: 0.8638 - val_loss: 0.3569 - val_accuracy: 0.8535
Epoch 81/100
54/54 [==============================] - 0s 5ms/step - loss: 0.3297 - accuracy: 0.8647 - val_loss: 0.3570 - val_accuracy: 0.8542
Epoch 82/100
54/54 [==============================] - 0s 6ms/step - loss: 0.3295 - accuracy: 0.8640 - val_loss: 0.3569 - val_accuracy: 0.8535
Epoch 83/100
54/54 [==============================] - 0s 8ms/step - loss: 0.3295 - accuracy: 0.8634 - val_loss: 0.3569 - val_accuracy: 0.8546
Epoch 84/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3293 - accuracy: 0.8643 - val_loss: 0.3569 - val_accuracy: 0.8550
Epoch 85/100
54/54 [==============================] - 0s 7ms/step - loss: 0.3294 - accuracy: 0.8653 - val_loss: 0.3568 - val_accuracy: 0.8538
Epoch 86/100
54/54 [==============================] - 0s 6ms/step - loss: 0.3293 - accuracy: 0.8643 - val_loss: 0.3569 - val_accuracy: 0.8535
Epoch 87/100
54/54 [==============================] - 0s 6ms/step - loss: 0.3289 - accuracy: 0.8642 - val_loss: 0.3567 - val_accuracy: 0.8538
Epoch 88/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3288 - accuracy: 0.8647 - val_loss: 0.3568 - val_accuracy: 0.8527
Epoch 89/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3286 - accuracy: 0.8655 - val_loss: 0.3568 - val_accuracy: 0.8542
Epoch 90/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3287 - accuracy: 0.8651 - val_loss: 0.3569 - val_accuracy: 0.8535
Epoch 91/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3288 - accuracy: 0.8643 - val_loss: 0.3567 - val_accuracy: 0.8542
Epoch 92/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3284 - accuracy: 0.8668 - val_loss: 0.3567 - val_accuracy: 0.8535
Epoch 93/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3284 - accuracy: 0.8651 - val_loss: 0.3570 - val_accuracy: 0.8531
Epoch 94/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3283 - accuracy: 0.8660 - val_loss: 0.3566 - val_accuracy: 0.8531
Epoch 95/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3282 - accuracy: 0.8658 - val_loss: 0.3569 - val_accuracy: 0.8538
Epoch 96/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3281 - accuracy: 0.8647 - val_loss: 0.3566 - val_accuracy: 0.8535
Epoch 97/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3280 - accuracy: 0.8658 - val_loss: 0.3564 - val_accuracy: 0.8535
Epoch 98/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3280 - accuracy: 0.8660 - val_loss: 0.3565 - val_accuracy: 0.8550
Epoch 99/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3279 - accuracy: 0.8662 - val_loss: 0.3563 - val_accuracy: 0.8535
Epoch 100/100
54/54 [==============================] - 0s 4ms/step - loss: 0.3281 - accuracy: 0.8658 - val_loss: 0.3564 - val_accuracy: 0.8538

In [24]:
# list all data in history

##print(model_history.history.keys())
# summarize history for accuracy
##plt.plot(model_history.history['acc'])
##plt.plot(model_history.history['val_acc'])
##plt.title('model accuracy')
##plt.ylabel('accuracy')
##plt.xlabel('epoch')
##plt.legend(['train', 'test'], loc='upper left')
##plt.show()

In [33]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [34]:
y_test

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [41]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, recall_score,accuracy_score
cm = confusion_matrix(y_test, y_pred)
re=recall_score(y_test,y_pred)
score=accuracy_score(y_pred,y_test)

In [42]:
score

0.857

In [43]:
cm

array([[1513,   82],
       [ 204,  201]], dtype=int64)